{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Update Receipe</h3>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Receipe name</label>
            <input type="text" value="{{recepies.receipe_name}}" name="receipe_name" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
            <input type="textarea" value="{{recepies.receipe_description}}" required name="receipe_description" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
            <input type="file" value="{{recepies.receipe_image}}" required name="receipe_image" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Update Receipe</button>
    </form>
     {{recepies}}
</div>

{% endblock %}