{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <form method="post" class="col-6 mx-auto card p-3 shadow-lg" enctype="multipart/form-data">
      {% csrf_token %}
        {% for message in messages %}
          <div id="userHelp" class="form-text">{{message}}</div>
        {% endfor %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="exampleInputUserName1" class="form-label">User Name</label>
          <input type="text" name="user_name" class="form-control" id="exampleInputUserName1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputname1" class="form-label">First Name</label>
          <input type="text" name="first_name" class="form-control" id="exampleInputname1" aria-describedby="emailHelp">
          <div id="firstHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="exampleInputname2" class="form-label">Last Name</label>
          <input type="text" name="last_name" class="form-control" id="exampleInputname2" aria-describedby="emailHelp">
          <div id="lastHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label class="form-check-label" for="exampleCheck1">Already have an account</label>
            <a href="/login" >click here</a>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
     
</div>

{% endblock %}